* {
  box-sizing: border-box;
}

.counter {
  text-align: center;
  padding: 30px;
  font-size: 20px;
  color: darkgrey;
  padding-bottom: 0px;
}

.counter {
  color: darkgrey;
  font-size: 30px;
  text-shadow: 2px 2px black;
}

span {
  color: #f39c12;
  font-size: 50px;
  text-shadow: 2px 2px black;
}
