/*.container {
  margin-top: 150px;
  margin-bottom: 10px;
  border: 1px solid black;
  padding-bottom: 50px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  bottom: 100px;
}

h2 {
  color: #2a175b;
  text-shadow: 2px 2px black;
  font-size: 50px;
  text-align: center;
  margin-top: 0;
  padding: 30px;
  background-color: purple;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/